<!DOCTYPE html>
<html>
  <head>
    <title>ma collection des plats</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mes plats</h1>
    <ul>
      <% plats.forEach((plat)=> { %>
          <li>
              <h2>
                 <%= plat.nom %>
              </h2>
              <p>
                 Calorie: <%= plat.calorie %>
              </p>
              <p>
                <img src="<%= plat.img %>" width="100" height="100"/> 
            </p>
            <p>
              Recette: <%= plat.recettes %>
           </p>
           <p> <a href="C:\Users\khadi\DEV\TP2A17Node\tp2-a17-frontEnd\views\details.ejs">Détails</a></p>
          </li>
          <hr />
      <% }) %>
  </ul>
  </body>
</html>
