<!DOCTYPE html>
<html>
  <head>
    <title>ma collection des plats</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
 
  </head>
  <body>
    <h1 class="text-center bg-dark text-white" class="$gray-300">Mes plats</h1>
    <ul>
      <% plats.forEach((plat)=> { %>
          <li>
              <h2>
                 <%= plat.nom %>
              </h2>
              <p>
                 Calorie: <%= plat.calorie %>
              </p>
              <p>
                <img src="<%= plat.img %>" width="100" height="100"/> 
            </p>
            <p>
              Recette: <%= plat.recettes %>
           </p>
          
          </li>
          <hr />
      <% }) %>
  </ul>
  </body>
</html>
